 #heading{
        position:relative;
        left:500px;
      }
      #one{
        height:250px;
        width:250px;
        background-image:url("bananaLumpia.jpg");
        background-size:cover;
        position:absolute;
        left:50px;
        top:100px;
      }
     
      
      #bananaTitle{
       font-size:25px;
      }
     
      #bananaPrice{
        font-size:30px
      }
      #amount{
        font-size:30px
      }
      
      #two{
        height:250px;
        width:250px;
        background-color:green;
        background-size:cover;
       position:absolute;
       left:350px;
       top:100px;
      }
     
      
      #bananaTitleTwo{
       font-size:25px;
      }
     
      #bananaPriceTwo{
        font-size:30px
      }
      #amountTwo{
        font-size:30px
      }
      #three{
        height:250px;
        width:250px;
        background-color:red;
        background-size:cover;
       position:absolute;
       left:650px;
       top:100px;
      }
     
      
      #bananaTitleThre50e{
       font-size:25px;
      }
     
      #bananaPriceThree{
        font-size:30px
      }
      #amountThree{
        font-size:30px
      }
      
         #four{
        height:250px;
        width:250px;
        background-color:yellow;
        background-size:cover;
       position:absolute;
       left:50px;
       top:400px;
      }
     
      
      #bananaTitleFour{
       font-size:25px;
      }
     
      #bananaPriceFour{
        font-size:30px
      }
      #amountFour{
        font-size:30px
      }
      
        #five{
        height:250px;
        width:250px;
      background-color:purple;
        background-size:cover;
       position:absolute;
       left:350px;
       top:400px;
      }
     
      
      #bananaTitleFive{
       font-size:25px;
      }
     
      #bananaPriceFive{
        font-size:30px
      }
      #amountFive{
        font-size:30px
      }
        #six{
        height:250px;
        width:250px;
        background-color:pink;
        background-size:cover;
       position:absolute;
       left:650px;
       top:400px;
      }
     
      
      #bananaTitleSix{
       font-size:25px;
      }
     
      #bananaPriceSix{
        font-size:30px
      }
      #amountSix{
        font-size:30px
      }
      
      
      
      
      
      
      #subtotal{
        background-color:#8AAAE5;
        height:1000px;
        width:300px;
        position:absolute;
        left:1000px;
        top:5px;
      }
      #quantity{
        font-size:15px;
        font-weight:bold;
      }
      
      #display{
        font-size:15px;
        font-weight:bold;
      }